* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:verdana, arial, sans-serif;
    --accent: #9d2a2a;
    --light: #fdf3e8;
}
body {
    background-color: var(--light);
}
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header > * {
    color: var(--accent);
    padding: 20px;
    width: 100%;
    text-align: center;
}
h1 {
    font: normal 30pt Georgia;
}
header a {
    font-size: 25px;
    text-decoration: none;
    font-variant: small-caps;
}
section > * {
    padding: 10px 0;
}
h2 {
    font: normal 25pt Arial;
}
#demarche {
    background-color: var(--accent);
    color: var(--light);
}
#portfolio h2 {
    color: var(--accent);
}
#portfolio-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#portfolio-list > a {
    height: 200px;
    width: 360px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: center no-repeat;
}
#portfolio-list > a:hover {
    outline: 1px solid var(--accent);
    outline-offset: 5px;
}
h3 {
    color: var(--accent);
    padding: 5px;
}
/* Landscape */
@media screen and () {

}
/* Tablet */
@media screen and (min-width: 900px) {

}
/* Desktop */
@media screen and (min-width: 1000px) {
    section > *, #portfolio-list {
        width: 8.5in;
        margin: 0 auto;
    }
}