* {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    margin: 0;
    font-family:verdana, arial, sans-serif;
}
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header > * {
    color: red;
    padding: 20px;
}
h1 {
    font: normal 26pt Georgia;
}
a {
    font: bold 28px;
    text-decoration: none;
    font-variant: small-caps;
}