<!DOCTYPE html>
<html lang="en-US">
	<head>
		<base href="https://noahfer.github.io/paulegilbert/">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral|Rubik">
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="author"      content="Noah Ferrarotto">
		<meta name="description" content="Paule Gilbert portfolio web page">
		<meta name="keywords"    content="Paule, Gilbert, artiste, artist">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		{% feed_meta %}
    	{% seo %}
	</head>
	<body>
		
		{{ content }}

		{% include portfolio.html %}

		{% include footer.html %}
		
	</body>
</html>