<!DOCTYPE html>
<html lang="en-US">
	<head>
		<link rel="stylesheet" type="text/css" href="paulegilbert/css/main.css">
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="author"      content="Noah Ferrarotto">
		<meta name="description" content="Paule Gilbert portfolio web page">
		<meta name="keywords"    content="Paule, Gilbert, artiste, artist">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<main>
			<nav>
				<div><a href="#" id="home">Paule Gilbert</a></div>
				<div id="portfolio">
					<a href="#">portfolio</a>
					<div id="projects">
						<div class="container">
							<img src="escalator.jpg" alt="escalator">
							<div class="overlay">
								<p>Escalators as Drawing Device</p>
							</div>
						</div>
						<div class="container">
							<img src="built.jpg" alt="built">
							<div class="overlay">
								<p>Built-in Memories</p>
							</div>
						</div>
						<div class="container">
							<img src="crochet.jpg" alt="crochet">
							<div class="overlay">
								<p>Crochet improvisé avec une seule ficelle</p>
							</div>
						</div>
						<div class="container">
							<img src="secrets.jpg" alt="secrets">
							<div class="overlay">
								<p>Secrets de famille</p>
							</div>
						</div>
					</div>
				</div>
				<div><a href="#">démarche</a></div>
				<div><a href="#">CV</a></div>
				<div><a href="#">contact</a></div>
			</nav>
			
			{{ content }}
			
		</main>
	</body>
</html>